---
---

$main-color: #007845;
$monochromatic-color: #4EB58C;

$header-text-color: white;
$header-bg-color: $main-color !default;

header {
  @media (max-width: 768px) {
    margin-bottom: 1rem;
  }
  
  @media (min-width: 768px) {
    margin-bottom: 1.5rem;
  }
  
}

.page-header {
  color: $header-text-color;
  text-align: center;
  background-color: $header-bg-color;

  /*
  @include large {
    padding: 1rem 6rem;
  }

  @include medium {
    padding: 1rem 3rem;
  }

  @include small {
    padding: 0.5rem 1rem;
  }
*/
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
}

.page-header a.nav-link {
  color: $header-text-color;
  font-size: 1.5rem;
  transition: text-decoration-color 300ms;
  text-decoration: underline 0.1rem rgba($header-text-color, 0);
}

.page-header a.nav-link:hover {
  text-decoration-color: $header-text-color;
}

.page-header a.nav-link.active {
  color: $header-text-color;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}

#logoContainer.collapse {
  display: block;
}

#logoContainer.collapsing, #logoContainer.collapse.show {
  display: none;
}

/* TODO padding-top in desktop view and padding-bottom in mobile view for the nav element */



/*navbar-collapse navbarSupportedContent text-center col-2 collapse show*/

#logoLink { 
  margin-left: auto;
  margin-right: auto;
}

#logo {
  height: 8rem;
  /*min-width: 15rem;*/
  /*
  @include large {
    width: 24rem;
  }

  @include medium {
    width: 18rem;
  }

  @include small {
    width: 12rem;
  }
  */
}

.collapsing {
  min-height: 1.6rem;
}

h1, h2, h3 {
  text-align: center;
}