---
---

$main-color: #005431;
$monochromatic-color: #4EB58C;
$dark-text-box-background-color: #156082;

$header-text-color: white;
$header-bg-color: $main-color !default;

/* ===== General styles ===== */

body {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
}

.serif {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ===== Petition banner styles ===== */

#petitionBannerContainer {
  background-color: black;
  color: white;
  height: 7vh;
  @media (max-width: 768px) {
    
  }
  @media (min-width: 768px) {
    
  }
}

#petitionBannerContainer a { color: $monochromatic-color; }

/* ===== Header and nav menu styles ===== */

.page-header {
  color: $header-text-color;
  text-align: center;
  background-color: $header-bg-color; 
  
  @media (min-width: 768px) {
    height: 29vh;
  }
}

.monochromatic-thick-top-border {
  border-top: 0.75rem solid;
  border-color: $monochromatic-color;
}

.monochromatic-thick-bottom-border {
  border-bottom: 0.75rem solid;
  border-color: $monochromatic-color;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  position: absolute;
  top: 10vh;
  left: 1rem;
  padding: 1rem;
}

.page-header .nav-link {
  color: $header-text-color;
  font-size: 1.7rem;
  font-weight: 500;
  padding-bottom: 0; /* required for the subnav menu */
  @media (max-width: 768px) {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.3rem;
  }
}

.page-header .nav-link:hover {
  color: $monochromatic-color;
}

.page-header .nav-link.active {
  color: $monochromatic-color;
  font-weight: bold;
}

/* **=== Subnav dropdown on hover ===== */

.subnav-dropdown {
  position: relative;
  display: inline-block;
}

.subnav-dropdown-content {
  background-color: $main-color;
  text-align: left;
  padding: 1rem;
  width: 20rem;
  @media (max-width: 768px) {
    padding-top: 0;
    padding-bottom: 0.5rem;
    
  }
  @media (min-width: 768px) {
    
    display: none;
    position: absolute;
    z-index: 1;
  }
}

.subnav-dropdown-content ul {
  padding: 0;
  list-style-type: none;
  @media (max-width: 768px) {
    padding-left: 2.3rem;
  }
}

.subnav-dropdown-content a {
  color: $header-text-color;
  text-decoration: none;
}

.subnav-dropdown-content li:nth-child(n+2) {
  margin-top: 0.3rem;
}

.subnav-dropdown-content a:hover, .subnav-dropdown-content li:hover {
  color: $monochromatic-color;
}

.subnav-dropdown:hover .subnav-dropdown-content {display: block;}

#logoContainer.collapse {
  display: block;
}

#logoContainer.collapsing, #logoContainer.collapse.show {
  display: none;
}

#logo {
  height: 9.5rem;
}

.collapsing {
  min-height: 1.6rem;
}

#contactUsContainer {
  @media (max-width: 768px) {
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
}

#contactUsSubContainer {
  @media (max-width: 768px) {
    width: 50%;
    border-top: white solid;
  }
}

.social-icon {
  color: white;
  width: 2.5rem;
  height: 2.5rem;
}

/* ===== Footer styles ===== */
#footerContainer {
  text-align: center;
  background-color: $main-color;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

footer p {
  color: white;
}

#langMenuContainer {
  position: fixed;
  bottom: 0;
  background-color: white;
  @media (max-width: 768px) {
    right: 0;
  }
  @media (min-width: 768px) {
    right: 5rem;
  }
}

#langMenuContainer button {
  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}


/* ===== Page content styles ===== */

p {
  padding: 0;
  margin: 0;
}

.dark-bg {
  background-color: black;
  color: white;
}

h1, h2, h3 {
  text-align: center;
}

.dark-bg h2 {
  color: $monochromatic-color;
  font-weight: 500;
}

.leading-container {
  background-color: $monochromatic-color;
  padding-bottom: 2rem;
  
  @media (min-width: 768px) {
    height: 71vh;
  }
}

#pisheteNaSavetnikLeadingContainer {
  background-image: url("/assets/images/write-to-councillors/banner-write-to-councillors-v1.jpg");
  background-size: cover;
}

#prouchvaneSredVeterinariteLeadingContainer {
  background-image: url("/assets/images/vet-questionnaire/top1.jpg");
  background-size: cover;
}

#summerCampaign2025LeadingContainer {
  background: rgba(0,0,0,0.2) url("/assets/images/2025-summer-campaign/SummerCampaign_banner.jpeg");
  background-blend-mode: darken;
  background-size: cover;
}

#homepageContent .leading-container {
  background: rgba(255,255,255,0.3) url("/assets/images/homepage/homepage-img1.jpg");
  background-blend-mode: lighten;
  background-size: cover;
}

.leading-heading-container {
  color: black;
  @media (max-width: 768px) {
    padding-top: 1rem;
  }
  @media (min-width: 768px) {
    padding-top: 1rem;
  }
}

#homepageContent .leading-heading-container {
  @media (min-width: 768px) {
    padding-top: 1.5rem;
  }
}

#summerCampaign2025LeadingContainer .leading-heading-container {
  @media (min-width: 768px) {
    padding-top: 3rem;
  }
}

.leading-heading {
  font-size: 3rem;
  font-weight: 600;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  @media (max-width: 768px) {
    width: 100%;
    font-size: 2rem;
  }
}

.leading-heading.with-more-top-space, #homepageContent .leading-heading.with-more-top-space:nth-child(n+2) {
  @media (max-width: 768px) {
    margin-top: 2rem;
  }
  @media (min-width: 768px) {
    margin-top: 1rem;
  }
}

.leading-heading.large-font-size, #homepageContent .leading-heading.large-font-size {
  font-size: 6rem;
}

#homepageContent .leading-heading {
  color: white;  
  font-size: 2.2rem;
  @media (max-width: 768px) {
    
  }
}

#summerCampaign2025LeadingContainer .leading-heading {
  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    font-size: 4rem;    
  }
}

#homepageContent .leading-heading:nth-child(n+2) {
  @media (max-width: 768px) {
    margin-top: 0.75rem;
  }
}

#homepageContent .leading-heading.callout-leading-heading {
  font-style: italic;
  margin-top: 1rem;
  font-size: 2.2rem;
  @media (max-width: 768px) {
    font-size: 2.2rem;
  }
  @media (min-width: 768px) {
    
  }
}

.inline-highlight-main-color { background-color: $main-color; }
.inline-highlight-black { background-color: black; }
.inline-highlight-white { background-color: white; }

#summerCampaign2025LeadingContainer .leading-heading .inline-highlight-white {
  @media (min-width: 768px) {
    padding: 1rem;
  }
}

.main-color-background { background-color: $main-color; }
.monochromatic-background { background-color: $monochromatic-color; }
.white-background { background-color: white; }
.black-background { background-color: black; }

.main-color-text { color: $main-color; }
.monochromatic-text { color: $monochromatic-color; }
.white-text { color: white; }
.black-text { color: black; }

.leading-heading-container p.smaller-leading-text {
  text-align: center;
  color: white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.1rem;
  font-style: italic;
  @media (max-width: 768px) {
    margin-top: 0.75rem;
    font-size: 1rem;
  }
}

.leading-text-container {
  margin-top: 3rem;
}

#homepageContent .leading-text-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.leading-text {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  @media (max-width: 768px) {
    width: 90%;
    font-size: 1.2rem;
    padding: 0.75rem;
  }
  @media (min-width: 768px) {
    width: 70%;
  }
}

.dark-bg .leading-text {
  color: black;
}

#homepageContent .leading-text {
  font-size: 2.1rem;
  @media (max-width: 768px) {
  }
  @media (min-width: 768px) {
    width: 80%;
  }
  background-color: black;
  color: white;
}

#summerCampaign2025LeadingContainer .leading-text {
  @media (min-width: 768px) {
    margin-top: 8rem;
  }
}

#actionsToHelpContainer {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

#actionsToHelpContainer p {
  line-height: 100%;
}

.text-container {
  margin-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: white;
  @media (max-width: 768px) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.text-container.md-font {
  font-size: 1.5rem;
}

.text-container.lg-font {
  font-size: 1.7rem;
}

#homepageContent .text-container {
  @media (max-width: 768px) {
    font-size: 1.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

#homepageBottomSection img.portrait-img-alongside-text {
  @media (max-width: 768px) {
    height: 70vh;
    
  }
}

#homepageBottomSection .text-container {
  background-color: black;
  font-size: 1.3rem;
  @media (max-width: 768px) {
    font-size: 1.1rem;
  }
  @media (min-width: 768px) {
    margin-left: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
}

#homepageActionsToHelpContainer.text-container {
  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.text-container.more-space-before {
  margin-top: 2rem;
  padding-top: 1.5rem;
}

.text-container.alt-bg {
  background-color: $monochromatic-color;
}

.text-container.important-point-text {
  font-size: 2.2rem;
  font-weight: 600;
  @media (min-width: 768px) {
    width: 90%;
  }
}

.text-container.important-point-text.pseudo-bullets {
  font-size: 2rem;
}

.text-container.important-point-text h2 {
  font-size: 3rem;
  font-weight: 600;
}

.text-container.monochromatic-box {
  background-color: $monochromatic-color;
  color: black;
  @media (max-width: 768px) {
    width: 90%;
  }
  @media (min-width: 768px) {
    width: 80%;
  }
}

.text-container.monochromatic-box ol, .text-container.monochromatic-box ul, .text-container.monochromatic-box ol li, .text-container.monochromatic-box ul li {
  background-color: $monochromatic-color;
}

.dark-list li.list-group-item {
  color: white;
  background-color: black;
}

ul.arrows {
  list-style: none;
}

ul.arrows li::before {
  content: "⮕ ";
}

ol.upper-latin li.list-group-item::before {
  content: counter(section, upper-latin) ". ";
}

ol.lower-latin li.list-group-item::before {
  content: counter(section, lower-latin) ". ";
}

ol.decimal-parentheses-suffix li.list-group-item::before {
  content: counter(section, decimal) ") ";
}

ol.emphasis-list li::before, ul.emphasis-list li::before {
  font-weight: 600;
  font-size: 120%;
}

ol.white-bullets li::before, ul.white-bullets li::before {
  color: white;
}

ol.emphasis-list li, ul.emphasis-list li {
  line-height: 110%;
}

.dark-text-box {  
  font-size: 1.1rem;
}

.dark-text-box.with-border {
  border: solid black;
}

.dark-text-box.lg-font {
  @media (min-width: 768px) {
    font-size: 1.7rem;
  }
}

.dark-text-box::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.dark-text-box .vcentred {
  display: inline-block;
  vertical-align: middle;
}

.custom-rounded-borders {
  border-radius: 0.5rem;
}

.vertical-full-width-infographic-style-text h1 {
  color: white;
  font-size: 7rem;
  @media (max-width: 768px) {
    font-size: 4rem;
  }
}

.vertical-full-width-infographic-style-text .heading-container {
  @media (max-width: 768px) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  @media (min-width: 768px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.vertical-full-width-infographic-style-text .boxes-container {
  @media (max-width: 768px) {
    padding-top: 0.5rem;
    padding-bottom: 3.5rem;
  }
  @media (min-width: 768px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.vertical-full-width-infographic-style-text .box-with-label-above {
  @media (max-width: 768px) {
    line-height: 2.75rem;
    margin-top: 2.5rem;
  }
  @media (min-width: 768px) {
    
  }
}

.vertical-full-width-infographic-style-text .box-with-label-above:nth-child(n+2) {
  @media (max-width: 768px) {
    
  }
  @media (min-width: 768px) {
    margin-top: 2rem;
  }
}

.vertical-full-width-infographic-style-text .box-with-label-above .box-label {
  text-align: center;
  font-size: 2.1rem;
  line-height: 2.4rem;
  font-weight: 600;
  @media (max-width: 768px) {
    width: 80%;
  }
  @media (min-width: 768px) {
    width: 65%;
  }
}

.white-background .box-label {
  color: black;
}

.vertical-full-width-infographic-style-text .data-text-container {
  margin-top: 0.5rem;
}

.vertical-full-width-infographic-style-text .data-text {
  font-size: 3rem;
  font-weight: 600;
  vertical-align: middle;
  @media (max-width: 768px) {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  @media (min-width: 768px) {
    
  }
}

.vertical-full-width-infographic-style-text .box-with-label-above .dark-text-box {
  border: 0;
  text-align: center;
  @media (max-width: 768px) { width: 80% }
}

#prouchvaneSredVeterinariteBottomContainer ul li {
  font-size: 1.5rem;
}

.verbose-page .text-block {
  padding-top: 2rem;
}

.verbose-page {
  padding-bottom: 2rem;
}

.verbose-page h2 {
  font-size: 3rem;
}

.verbose-page .text-block p {
  margin-top: 1rem;
}

.verbose-page .text-block ul, .verbose-page .text-block ol {
  margin-top: 0.5rem;
}

#logoAboutUs {
  @media (max-width: 768px) { width: 100% }
  @media (min-width: 768px) { width: 70% }
}

.leading-container .photo-credit {
  @media (max-width: 768px) {  }
  @media (min-width: 768px) { margin-top: -1rem; }
  
  margin-left: 1rem;
}

.kamen-photo-container .photo-credit-label {
  position: relative;
  left: 1rem;
  bottom: 2rem;
}