---
---

$header-bg-color: #00966E !default;
$header-bg-color-secondary: #00966E !default;

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;

  @include large {
    padding: 2rem 6rem;
  }

  @include medium {
    padding: 1rem 3rem;
  }

  @include small {
    padding: 0.5rem 1rem;
  }
}

h1.project_name {

  @include large {
    margin-top: 0.5rem;
  }

  @include medium {
    margin-top: 0.5rem;
  }

  @include small {
	margin-top: 0.2rem;
  }
}

#logo {
  @include large {
    width: 400rem;
  }

  @include medium {
    width: 300rem;
  }

  @include small {
    width: 200rem;
  }
}