<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <img src="/assets/images/leolife_logo_240403_V10B1_website_banner.png" width="400rem" alt="LeoLife Bulgaria Logo - white cat head on green background and the word LeoLife">
	  <h1 class="project-name">ЛеоЛайф България</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
		<p>Email: leolifebg@gmail.com</p>
		<p>Вайбър номер на който може да пращате снимки с местоположение за да помогнете с преброяването на варненските улични котки: 0895853950</p>
		<p>Viber number for sending cat photos with a location to help with counting the street cats in Varna: 0895853950</p>
		<p>ЛеоЛайф България е Фондация в обществена полза, регистрирана в регистъра за ЮЛНЦ с ЕИК 207858224</p>
		<p>LeoLife Bulgaria is a Foundation for the public benefit, a type of Bulgarian NGO registered in the Bulgarian NGO registry with number 207858224</p>
      </footer>
    </main>
  </body>
</html>